.header {
    width: 100%;
}

.main__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: burlywood;
    min-width: 400px;
}